<section>
    <div class="wrapper">
        <ng-container *ngFor="let vertex of initVertexes">
            <div class="vertex"
                 (click)="selectVertex(vertex.vertexName)"
                 [class.vertex-active]="shortestPath.includes(vertex.vertexName) || firstVertex === vertex.vertexName">
                {{ vertex.vertexName }}

                <ng-container *ngFor="let neighbour of vertex.neighbours">
                    <div class="vertex-line"
                         [class.vertex-line__active]="shortestPathRaw.includes(vertex.vertexName + neighbour.vertexName) || shortestPathRaw.includes(neighbour.vertexName + vertex.vertexName)"
                         *ngIf="neighbour.drawLine">
                        {{ neighbour.value }}
                    </div>
                </ng-container>
            </div>
        </ng-container>
    </div>

    <h2 *ngIf="distanceCount">
        Shortest distance from {{ firstVertex }} to {{ lastVertex }} is {{ distanceCount }}
    </h2>
</section>

